@font-face {
    font-family: 'Outfit';
    src: url('fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'YoungSerif';
    src: url('fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --White: hsl(0, 0%, 100%);

    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);

    --Brown800: hsl(14, 45%, 36%);

    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--Stone600)
}

body#container { 
    width: 365px;
    border: 2px solid black;

}

h1, h2 {
    font-family: 'YoungSerif', serif;
    font-weight: lighter;
}

header > h1 {
    color: var(--Stone900);
    margin-bottom: 20px;
}

header {
    margin: 30px;
}

h3 {
    color: var(--Rose800);
    margin-bottom: 10px
}

#preparation {
    background-color: var(--Rose50);
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
}

#preparation > ul {
    margin-left: 20px;
    line-height: 1.8em;
    list-style-position: outside;
}

#preparation > ul > li {
    padding-left: 0.8rem;
}

#preparation > ul > li::marker{
    color: var(--Rose800);
}

.recipeTitle {
    color: var(--Brown800);
    margin-bottom: 10px;
}

.recipe {
    margin: 20px;
    padding: 20px;
    list-style-position: outside;
    border-bottom: 1px solid var(--Stone100);
}

.recipe > ul, ol {
    padding-left: 1.2rem;
}

.recipe > ul > li, ol > li {
    padding: 5px;
    padding-left: 0.8rem;
}


section > ol > li::marker {
    color: var(--Brown800);
    font-weight: bolder;
}